#root, .App, .App > div, .fullHeight {
    height: 100%;
}

.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 10px !important;
    margin: 20px;

}

.alignCenter{
    text-align: center;
}

.marginBottom0{
    margin-bottom: 0px !important;
}