.AllFile {

}

.fileCard:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35) !important;
    opacity:0.9;
    cursor: pointer;
    animation: bounce 0.3s;
}


@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }




}

.float-right{
    float: right;
}

.extraText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
